<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display</title>
</head>
<link rel="stylesheet" th:href="@{GeneralStyle.css}" >
<body>
	<div id="header">
		<h1>Customer Shares Management System</h1>
	</div>
	<div id="navbar">
		<a href="./" >Home</a>
		<a href="./inputCustomerID" class="active">Search Customer Shares</a>
	</div>
	<br><br>
	
	<table>
		<tr>
			<th>Customer ID</th>
			<th>Share Name</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total Valuation</th>
			<th>Share Type</th>
		</tr>
		<tr th:each="cs: ${csList}">
			<td th:text="${cs.customerId}"></td>
			<td th:text="${cs.shareName}"></td>
			<td th:text="${cs.quantity}"></td>
			<td th:text="${cs.unitPrice}"></td>
			<td th:text="${cs.totalValuation}"></td>
			<td th:text="${cs.shareType}"></td>
		</tr>
	</table>
	<br><br>

<body>

</body>
</html>